.search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.search-form label:hover {
  color: var(--green);
}

@media (max-width: 768px) {
  .search-form {
    position: absolute;
    top: -115%;
    right: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }
}
